<data><event>
<start_date><![CDATA[2012-04-12 00:00]]></start_date>
<end_date><![CDATA[2012-04-12 00:05]]></end_date>
<text><![CDATA[980]]></text>
<id><![CDATA[1334233639011]]></id>
</event>
<event>
<start_date><![CDATA[2012-04-04 00:00]]></start_date>
<end_date><![CDATA[2012-04-04 00:05]]></end_date>
<text><![CDATA[780]]></text>
<id><![CDATA[1334233639014]]></id>
</event></data>